@import "../../../variables.scss";

:host {
  font-family: var(--font-family);
  --margin: 5px 0px;
}

:host.slide-top {
  animation: 1s slide-top;
}

.element {
  background:var(--secondary-dark);
  box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.301);
  color: var(--white-dark);
  padding: 5px;
  padding-left: 5px;
  margin: var(--margin);
  margin-top: 0;
  margin-bottom: 0px;
  display: flex;
  flex-wrap: wrap;
  cursor: default;
}

.element:hover {
  color: white;

  .badge {
    color: var(--primary-light);
  }
}

.element.slide-in {
  animation: .25s slide-in;
}

.element.slide-out {
  animation: .25s slide-out;
}

.element.slide-top {
  animation: .25s slide-top;
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-top {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}


.header {
  width: 100%;
  font-size: 9px;
  display: flex;
  justify-content: left;
  margin: 0px 5px;
}

.main {
  width: 100%;
}

.footer {
  width: 100%;
}

.origin {
  padding-left: 5px;
  line-height: 100%;
  align-self: center;
}

.badge {
  margin-left: auto;
}

.dropdown-icon {
  transition: all 0.25s;
}

.dropdown-icon.active {
  transform: rotate(90deg);
}


