@import "../../../variables.scss";

:host {
}

form {
  padding: 20px 0;
  position: relative;
  z-index: 2;
}
form input {
  appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 250px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  font-weight: 300;
}
form input:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
form input:focus {
  background-color: white;
  width: 300px;
  color: #53e3a6;
}
form button {
  appearance: none;
  outline: 0;
  background-color: var(--secondary-color);
  border: 0;
  padding: 10px 15px;
  color: #53e3a6;
  border-radius: 3px;
  width: 250px;
  cursor: pointer;
  font-size: 18px;
  transition-duration: 0.25s;
}

form button.loading {
  width: 42px;
  border-radius: 50%;
  transition: width 0.3s 0s, font-size 0.1s 0.15s, border-radius 0s 0.29s;
}

form button:hover {
  background-color: var(--secondary-dark);
  // background-color: #f5f7f9;
}

form button:disabled {
  color: white;
  background: var(--secondary-color-transparent);
  cursor: not-allowed;
}

.invalid-feedback {
  color: var(--error-color);
  margin: 5px auto;
  display: none;
}

.was-validated {
  input:invalid {
    border: solid var(--error-color) 1px;
  }

  input:invalid ~ .invalid-feedback {
    color: var(--error-color);
    margin-top: 0.2rem;
    font-size: 0.8rem;
    display: block;
  }

  input:valid ~ .invalid-feedback {
    display: none;
  }
}

.error-message {
  color: var(--error-color);
  margin: 5px auto;
}

.privacy-confirmation {
  font-size: 12px;
  display: flex;
  margin: 20px 20px;

  input {
    max-height: 20px;
    max-width: 20px;
  }
}