@import "../../../variables.scss";

:host {
  --size: 35px;
}

.directoryContainer {
  cursor: default;
}

.folder {
  width: var(--size);
  height: var(--size);
  border: 2px solid var(--secondary-dark);
  border-radius: 10px;
  color: var(--primary-color);
  font-size: 20px;
  font-family: var(--font-family);
  display: flex;

  span {
    margin: auto;
  }
}

.folder.active {
  border: 2px solid var(--primary-color);
}

.folder:hover {
  transform: scale(1.05);
}

.footer {
  width: var(--size);
  font-family: var(--font-family);
  font-size: 10px;
  overflow: hidden;
  text-align: center;
  display: flex;

  span {
    width: 100%;
    font-size: 10px;
  }
}

bronco-chip {
  flex: 1 auto;
  margin: 2px;
  --height: 20px;
  --background-color: var(--secondary-dark);
  --font-size: 12px;
}
