@import "../../../variables.scss";

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5px;
  padding-top: 10px;
  padding-left: 0px;
}

bronco-chip {
  flex: 1 auto;
  margin: 2px;
  --height: 20px;
  --background-color: var(--secondary-dark);
  --font-size: 12px;
}

.chipContainer {
  display: flex;
  justify-content: space-between;
}

.selectedChipContainer {
  padding: 10px;
  bronco-chip {
    --background-color: var(--primary-dark);
    --hover-ripple-dark: var(--secondary-dark);
    --hover-ripple-light: var(--secondary-color);
  }
}

.selectedChipContainer > bronco-chip {
  margin-top: 0px;
}

.bookmark-icon, .mark-icon {
  background: var(--secondary-dark);
  display: flex;
  margin-top: 10px;
}

.bookmark-icon svg, .mark-icon svg {
  color: var(--primary-color);
  fill: var(--primary-color);
  margin-left: auto;
  padding: 5px 20px;
}

bookmark-element {
  --bg-color: var(--secondary-dark);
}