@import "../../../variables.scss";

:host {
  z-index: 99999999 !important;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  background: var(--secondary-color);
}

.container {
  box-shadow: 2px 2px 3px 3px #46464650;
  color: white;
  height: 100%;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main {
  overflow: scroll;
}

.header {
  height: 40px;
  display: flex;
  justify-content: center;
}

.main::-webkit-scrollbar {
  display: none;
}

button {
  appearance: none;
  outline: 0;
  background-color: var(--secondary-light);
  border: 0;
  padding: 2px 4px;
  color: white;
  // border-radius: 3px;
  width: 100px;
  cursor: pointer;
  font-size: 18px;
  transition-duration: 0.25s;
  margin: 5px;
}

.hideShow {
  position: absolute;
  width: 30px;
  height: 30px;
  right: -20px;
  top: 45%;
  border-radius: 50%;
  background-color: var(--secondary-color);
  box-shadow: 1px 1px 2px 2px #0000001e;

  svg {
    width: 100%;
    height: 100%;
  }

}

.hideShow.active {
  box-shadow: none;
  left: calc(98%);
  width: 20px;
  border-radius: 0px 50% 50% 0px;
  top: 45%;
  z-index: 9999;
  transition-duration: 0s;
}

.loginInfo {
  button {
    background-color: var(--primary-color);
    border-radius: 10px;
  }
}

hr.divider {
  width: 80%;
  margin: 10px auto;
  border: solid 0.3px var(--secondary-light);
}