@import "../../../variables.scss";

:host {
  padding: 5px;
  margin: 0px 5px;
}

.directoryContainer {
  cursor: default;
}

.folder {
  width: 90%;
  height: 35px;
  border-radius: 10px;
  font-size: 20;
  font-family: var(--font-family);
  border: .5px dashed grey;
  color: grey;
  display: flex;
  margin: auto;

  svg {
    margin: auto;
  }
}


.folder.active {
  border: 2px solid var(--danger-color);
  color: var(--danger-color);
}
