@import "../../../variables.scss";

:host {
  z-index: 99999999 !important;
  min-width: 360px;
  background: var(--primary-color);
  color: white;
  font-family: var(--font-family);
  font-size: 15px;
}

.container.form-success h1 {
  transform: translateY(85px);
}
.container {
  display: flex;
  flex-wrap: wrap;

  .entry {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(200, 200, 200, 0.438);
    padding: 20px;
  }

  .entry.footer {
    justify-content: center;
    border-bottom: none;
  }
}

.entry .stat {
  padding: 10px;
}

.logoutBtn {
  appearance: none;
  outline: 0;
  background-color: var(--danger-color);
  border: 0;
  padding: 4px 4px;
  border-radius: 10px;
  color: white;
  width: 100px;
  cursor: pointer;
  transition-duration: 0.25s;
  margin: 5px;
}


.goToPageBtn {
  background: var(--primary-dark);
  z-index: 9999;
  padding: 7px 30px;
  //margin: 5px 0px;
  border: none;
  border-radius: 20px;
  color: var(--white-dark);
  font-weight: bold;
  box-shadow: 1px 1px 1px 1px var(--primary-color-transparent);
  outline: none;
  text-decoration: none;
  color: white;
  font-weight: normal;
  cursor: pointer;
}


